<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smoking study message generation</title>
    <link rel="stylesheet" href="../static/bulma.css">
</head>
<body>
  <div class="container scale-in-center">
    <div><h1 class="title is-2">Smoking study message generation</h1></div>
    <div class="content">
      <section class="section">
        <div class="container">
          {% block content %}{% endblock %}
        </div>
      </section>
    </div>
  </div>
</body>
</html>