{% extends "base.html" %}
{% block content %}
<form method="post" enctype="multipart/form-data" id="upload">
  <h2 class="subtitle is-4">Create all the text messages for a single participant</h2>

  <!--  Participant ID -->
  <div class="columns">
    <div class="column is-one-fifth">
      <label for="participant">Participant ID</label>
    </div>
    <div class="column is-one-fifth">
      <input name="participant" id="participant" type="text">
    </div>
  </div>

  <!-- Start date -->
  <div class="columns">
    <div class="column is-one-fifth">
      <label for="start_date">Start date to send messages</label>
    </div>
    <div class="column is-one-fifth">
      <input name="start_date" id="start_date" type="date">
    </div>
  </div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class=flashes>
  {% for category, message in messages %}
  <li class="tag is-{{ category }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}

  <div class="columns">
    <div class="column is-one-fifth">
      <input name="submit" class="button is-link" id="submit" type="submit" value="Generate messages">
    </div>
  </div>
</form>


{% endblock %}
